<header>
    <a href="{{ site.pages_url }}"><h1>Galaxy Training</h1></a>
    <p>Collection of training resources for Galaxy courses</p>
    <p>Proudly part of </p>
    <p style="text-align:center;"> <a href="http://elixir-italy.org"><img src="images/EXTLogo.jpg" width="150"></a>
    <p style="text-align:center;"> <a href="https://wiki.galaxyproject.org/Teach/GTN"><img src="images/GTNLogo300.png" width="200"></a>

    <ul>
      <li><a
              href="{{ site.pages_url }}">Go to the<strong>Frontpage</strong></a></li>
      <li><a
              href="{{ site.github_url }}/zipball/master">Download <strong>ZIP Ball</strong></a></li>
      <li><a href="{{ site.github_url }}">View On <strong>GitHub</strong></a></li>
    </ul>
</header>